body {
    color: white;
}

.main-content {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.main-content h1 {
-webkit-animation: 2s explode_title infinite;
        animation: 2s explode_title infinite;
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    width: 100%;
}
    .main-content .bounced-word {
    color: #EBB8A4;
    display: block;
    font-family: "Titillium Web";
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 120px;
    -webkit-transform: translate3d(0, -200px, 0);
            transform: translate3d(0, -400px, 0);
    width: 100%;
}
.main-content .anim_1 {
-webkit-animation: 2s bounced-word infinite, 8s hide infinite;
        animation: 2s bounced-word infinite, 8s hide infinite;
}
.main-content .anim_2 {
-webkit-animation: 2s bounced-word infinite, 8s hidetwo infinite;
        animation: 2s bounced-word infinite, 8s hidetwo infinite;
}
.main-content .anim_3 {
-webkit-animation: 2s bounced-word infinite, 8s hidethree infinite;
        animation: 2s bounced-word infinite, 8s hidethree infinite;
}
.main-content .anim_4 {
-webkit-animation: 2s bounced-word infinite, 8s hidefour infinite;
        animation: 2s bounced-word infinite, 8s hidefour infinite;
}

@-webkit-keyframes explode_title {
10% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
20% {
    -webkit-transform: scaleY(1.3);
            transform: scaleY(1.3);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
30% {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
40% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
}

@keyframes explode_title {
10% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
20% {
    -webkit-transform: scaleY(1.3);
            transform: scaleY(1.3);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
30% {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
40% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 bottom 0;
            transform-origin: 0 bottom 0;
}
}
@-webkit-keyframes bounced-word {
8% {
    -webkit-transform: translate3d(0, -45px, 0) scaleY(0.4);
            transform: translate3d(0, -45px, 0) scaleY(0.4);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
25% {
    -webkit-transform: translate3d(0, -110px, 0) scaleY(1.4);
            transform: translate3d(0, -110px, 0) scaleY(1.4);
}
40% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.6);
            transform: translate3d(0, 0, 0) scaleY(0.6);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
50% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1.2);
            transform: translate3d(0, 0, 0) scaleY(1.2);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
60% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1);
            transform: translate3d(0, 0, 0) scaleY(1);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
}
}
@keyframes bounced-word {
8% {
    -webkit-transform: translate3d(0, -45px, 0) scaleY(0.4);
            transform: translate3d(0, -45px, 0) scaleY(0.4);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
25% {
    -webkit-transform: translate3d(0, -110px, 0) scaleY(1.4);
            transform: translate3d(0, -110px, 0) scaleY(1.4);
}
40% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.6);
            transform: translate3d(0, 0, 0) scaleY(0.6);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
50% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1.2);
            transform: translate3d(0, 0, 0) scaleY(1.2);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
60% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(1);
            transform: translate3d(0, 0, 0) scaleY(1);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
}
80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
}
}
@-webkit-keyframes hide {
0%, 24% {
    visibility: visible;
}
25%, 50% {
    visibility: hidden;
}
50%, 75% {
    visibility: hidden;
}
75%, 100% {
    visibility: hidden;
}
}
@keyframes hide {
0%, 24% {
    visibility: visible;
}
25%, 50% {
    visibility: hidden;
}
50%, 75% {
    visibility: hidden;
}
75%, 100% {
    visibility: hidden;
}
}
@-webkit-keyframes hidetwo {
0%, 25% {
    visibility: hidden;
}
26%, 49% {
    visibility: visible;
}
50%, 75% {
    visibility: hidden;
}
75%, 100% {
    visibility: hidden;
}
}
@keyframes hidetwo {
0%, 25% {
    visibility: hidden;
}
26%, 49% {
    visibility: visible;
}
50%, 75% {
    visibility: hidden;
}
75%, 100% {
    visibility: hidden;
}
}
@-webkit-keyframes hidethree {
0%, 25% {
    visibility: hidden;
}
25%, 50% {
    visibility: hidden;
}
51%, 74% {
    visibility: visible;
}
75%, 100% {
    visibility: hidden;
}
}
@keyframes hidethree {
0%, 25% {
    visibility: hidden;
}
25%, 50% {
    visibility: hidden;
}
51%, 74% {
    visibility: visible;
}
75%, 100% {
    visibility: hidden;
}
}
@-webkit-keyframes hidefour {
0%, 25% {
    visibility: hidden;
}
25%, 50% {
    visibility: hidden;
}
50%, 75% {
    visibility: hidden;
}
76%, 100% {
    visibility: visible;
}
}
@keyframes hidefour {
0%, 25% {
    visibility: hidden;
}
25%, 50% {
    visibility: hidden;
}
50%, 75% {
    visibility: hidden;
}
76%, 100% {
    visibility: visible;
}
}
